/* Reset de Estilos */

body, div, h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, figure, figcaption, pre, code, a, span, header, nav, section, article, aside, footer, input, textarea, form, fieldset, legend, button, table, td, th {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

/* Estilos Personalizados */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Header */

#header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

#logo {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#logo img {
    max-width: 100%;
    height: auto;
}

.navigation ul {
    text-align: center;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.navigation ul li a:hover {
    color: #ff6600;
}

/* Slider */

.fullwidthbanner-container {
    margin-bottom: 20px;
}

.fullwidthbanner-container img {
    width: 100%;
    height: auto;
}

/* Section Holder */

.holder {
    margin-bottom: 20px;
}

.holder .column {
    float: left;
    width: 30%;
    margin-right: 3%;
    text-align: center;
}

.holder .column:last-child {
    margin-right: 0;
}

.detailimg {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.detailimg h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

.detailimg p {
    margin-bottom: 10px;
    color: #666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #333;
}